.homepage section[role=main] {
    margin-left: 120pt;
    margin-right: 120pt;
}

@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
        
        margin-left: 0pt;
        width:300pt;
    }
}

@media screen and (-ms-view-state: portrait) {
    .homepage section[role=main] {
        margin-left: 100pt;
    }
}

.win-listview
{
    width: 100%;
    height: 100%;
    border: solid 2pt rgba(0, 0, 0, 0.13);
}