#placesImage {
	float: left;
	margin: 0 15px 5px 0;
	border: solid 1px #bbb;
    height: 250pt; 
    width: 250pt; 
}

#placesText {
    width:850pt;
}

.placedetails div{
    padding-left: 120pt;
    padding-right: 120pt;
}

#sectionPlaces {
    padding-top: 120pt;
    padding-left: 120pt;
}

#placeBar {
    width: 100%;
}

@media screen and (-ms-view-state: snapped) {
    .placedetails section[role=main] {
        margin-left: 20pt;
        margin-right: 20pt;
        width:100%;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .placedetails section[role=main] {
        margin-left: 100pt;
        margin-right: 100pt;
    }
}